<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Avatar único -->
  <ion-chip>
    <ion-avatar>
      <img src="https://i.ibb.co/ry8qgqP/Imagen-de-Whats-App-2024-11-27-a-las-09-18-53-3f300861.jpg" />
    </ion-avatar>
    <ion-label>KEVIN JOSUE YULAN CARRIEL</ion-label>
  </ion-chip>

  <!-- Botones de acciones -->
  <ion-button (click)="mostrarActionSheet()">Mostrar Action Sheet</ion-button>
  <ion-button (click)="mostrarAlerta()">Mostrar Alerta</ion-button>
</ion-content>
